In [4]:
import sys
import os
sys.path.append(os.path.abspath(".."))

from functions.data_loader import load_data

In [6]:

df_train, df_test = load_data()

print(f"Train shape: {df_train.shape}")
print(f"Test shape: {df_test.shape}")
df_train.head()

Loading dataset SetFit/ag_news
Dataset loaded successfully.
Train shape: (120000, 3)
Test shape: (7600, 3)

                                                text  label label_text
0  Wall St. Bears Claw Back Into the Black (Reute...      2   Business
1  Carlyle Looks Toward Commercial Aerospace (Reu...      2   Business
2  Oil and Economy Cloud Stocks' Outlook (Reuters...      2   Business
3  Iraq Halts Oil Exports from Main Southern Pipe...      2   Business
4  Oil prices soar to all-time record, posing new...      2   Business

In [7]:
df_train.columns

Index(['text', 'label', 'label_text'], dtype='object')

In [11]:
print("\nla destribution des labels train : ", df_train['label_text'].value_counts())
print("\nla destribution des labels test : ", df_train['label_text'].value_counts())

la destribution des labels train :  label_text
Business    30000
Sci/Tech    30000
Sports      30000
World       30000
Name: count, dtype: int64

la destribution des labels test :  label_text
Business    30000
Sci/Tech    30000
Sports      30000
World       30000
Name: count, dtype: int64